input, textarea, button{
    outline:none;
    -webkit-appearance: none;
    border-radius:0;
}

.form-input{
    display: block;
    width: 100%;
    height: 45px;
    margin: 0 0 10px 0;
    padding: 0 30px;

    font-size: 15px;
    line-height: 1.75;
    font-family: "Open Sans", sans-serif;
    color:#737373;

    border: 2px solid #d9d9d9;
    @include transition-duration;
    &:focus{ border-color:$color; }
}
.form-textarea{
    @extend .form-input;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}