.posts{
    margin:0 -30px;
}

.post{
    float: left;
    width: 555px;
    height: 500px;
    margin: 30px;
    position: relative;
}
.post-thumb{
    width: 555px;
    height: 300px;
    display: block;
    background-color: $color;
    img{ @include transition-duration;  }
    &:hover{
        img{ opacity: 0.5; }
    }
}
.post-content{
    position: absolute;
    top: 240px;
    right: 0;
    width: 445px;
    padding: 20px;
    text-align: justify;

    background-color: #FFF;
}
.post-icon{
    position: absolute;
    right: 445px;
    top: 256px;
    width: 44px;
    height: 44px;

    line-height: 44px;
    text-align: center;
    background-color: $color;
}

.post-meta{
    width: 100px;
    padding-top: 20px;

    font-size: 14px;
    text-align: right;
}