.section{
    padding: 85px 0;
    background-color: #FFF;
    position: relative;
    &:before, &:after{
        content:'';
        display: block;
        background-color: #FFF;

        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 4;

        @include transform-origin(0, 0);
        @include transform(skewY(-2deg));
    }
    &:after{
        background-color: #FFF;
        @include transform-origin(100%, 0);
    }
}

.section-title{
    margin-bottom: 140px;
    @include clearfix;
    h1{
        float: left;
        width: 200px;
        margin: 2px 0 0 0;
        padding: 0 20px 0 0;

        text-align: right;
        text-transform: uppercase;
        color:#000;
        line-height: 45px;

        border-right: 4px solid $color;
    }
    p{
        float: right;
        width: 950px;
        margin: 0;
        padding: 0;
        line-height: 25px;
        text-transform: uppercase;
    }
}


/*------------------------------------*\
    $Background
\*------------------------------------*/
.background{
    padding: 200px 0;

    text-align: center;
    color:#FFF;

    background:url(img/bg1.jpg) center top fixed;
    @include background-size(cover);
}
.background-2{ background-image: url(img/bg2.jpg);}

.map{
    position: relative;
    &:after{
        content:'';
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(#FFF, 0.2);
    }
}

